
 @import "tailwindcss";
 /* @theme {
    --color-yellow : #F2C045;
    --color-red : #A6171B;
    --color-white: #FFFBF4;

    --font-poppins: Poppins, sans-serif;
} */
 *{
   list-style: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }


 .header{
   display: flex;
   height: 100px;
   align-items: center;
   position: sticky;
   top: 0;
   z-index:1000;
   /* background-color:#F2C045 ; */
   /* background-color: transparent; */
   padding-left: 40px;
   padding-right: 40px;
   /* backdrop-filter: blur(10px); */
   /*border: 3px solid  rebeccapurple;*/
 }
body{
    /*border: 3px solid rgb(205, 0, 0) ;*/
     width: 100%;
     height: auto;
     margin: 0;
}

 .logo{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   font-family: 'Modak', cursive;
   font-size: 50px;
   color: #000000;
 }
 .nav{
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: space-between;
   font-size: 28px;
   /* font-weight: bold; */
   
   

 }
 .nav a{
    display: inline-block;
  font-family: 'Modak', cursive;
  color:#000000;
  text-decoration: none;
  transition: transform 0.25s ease-in-out;
 }
 .nav a:hover{
  transform: scale(1.25);
}

.sticky{
  position: sticky;
  top: 0;
}
 .bodyPage{
    display: flex;
    flex-direction: column;
    
}
.bodyPage #storecard{
  display: flex;
  justify-self: center;
}

.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    
}
.fineIngredients{
    width: 100%;
    height: 750px;
    background-color: #F2C045;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
    gap: 10px;
    align-content: center;
    
}

.info{
    display: grid;
    grid-column: 1;
    grid-template-rows: 400px 1fr 300px;

}
.info h2{
    display: grid;
    grid-row: 1;
    align-items: end;
    font-size: 3rem;
    /* font-size: clamp(1.8rem,10w,5rem); */

}
.info p{
    display: grid;
    grid-row: 2;
    align-items: start;
    font-size: 1rem;
}
.infoImage{
  display: grid;
  place-items: center;
}
.infoImage img{
  width: 400px;
}
.heart_warming_service{
    width: 100%;
    height: 750px;
    background-color: #FFFBF4;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    /* justify-items: center; */
    /* border: 3px solid rebeccapurple; */
}
.heart{
    display: grid;
    grid-column: 1;
    grid-template-rows: 1fr 1fr;
    justify-items: end;
    /* border: 3px solid rebeccapurple; */
}
.heart h2{
    display: grid;
    grid-row: 1;
    align-content: end;
    font-size: 6rem;
    justify-items: end;
    /* border: 3px solid rebeccapurple; */
}
.heart h3{
    display: grid;
    grid-row: 2;
    font-size: 5rem;;
    justify-items: end;
    /* border: 3px solid rebeccapurple; */
}


.coffeSack{
    grid-column: 2;
    display: grid;
    justify-content: center;
    /* align-items: end; */
    /* min-height: 100%; */
    /* border: 3px solid rebeccapurple; */
}
.coffeSack img{
  width: auto;
  height: 750px;
  /* border: 3px solid rebeccapurple; */
}

.service{
    grid-column: 3;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    /* border: 3px solid rebeccapurple; */
    padding-right:80px;
}
.service h2{
    grid-row: 1;
    align-content: center;
    font-size: 6rem;
    /* border: 3px solid rebeccapurple; */
}
.service p{
    grid-row: 2;
    /* border: 3px solid rebeccapurple; */
    padding: 20px;
    font-size: 1rem;
}
.brewingMaster{
    width: 100%;
    height: 750px;
    background-color: #A6171B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
    gap: 10px;
    align-content: center;
}
.info{
    display: grid;
    grid-column: 1;
    grid-template-rows: 400px 1fr 300px;

}
.info h2{
    display: grid;
    grid-row: 1;
    align-items: end;
    font-size: 3em;
}
.info p{
    display: grid;
    grid-row: 2;
    align-items: start;
}
.infoImage{
  display: grid;
  place-items: center;
}

.infoImage img{
  width: 400px;
  animation: rotate 5s ease alternate infinite;
  transition: transform 10s ease;
  animation-timeline: view(100%, 50%) ;
}
.infoImage :hover{
  transform: rotate(360deg);

}
@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}
.image{
  padding-top: 0;
}
img{
  width: 100%;
  height: auto;
}
@media screen and (min-width: 320px) {
.fineIngredients, .brewingMaster{
  padding: 50px 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  
}
.info{
  display: flex;
  grid-row: 2;
  flex-direction: column;
  padding-top: 50px;
}
.info h2{
  font-size: 1.8rem;
 
  padding: 0;
}
.infoImage {
  padding: 0;
  
}
p{
  font-size: 2rem;
}
/* heart warming */
.heart h2{
font-size: 5rem;
}
.service h2{
font-size: 5rem;
}
.heart h3{
  font-size: 3rem;
}
.coffeSack img{
  width: auto;
  height: 450px;
}
.heart_warming_service{
  height: 450px;
  
}
.heart_warming_service p{
  font-size: calc(1rem+1vw);
  
}
  .image {
    position: relative;
  }

  #storecard {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0 auto;
    width: 90%; /* optional: better on mobile */
  }
}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 1024px) {

}

