
 @import "tailwindcss";
 /* @theme {
    --color-yellow : #F2C045;
    --color-red : #A6171B;
    --color-white: #FFFBF4;

    --font-poppins: Poppins, sans-serif;
} */
 *{
   list-style: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }


 .header{
   display: flex;
   height: 100px;
   align-items: center;
   position: sticky;
   top: 0;
   z-index:1000;
   background-color:#F2C045 ;
   color:#A6171B;
   /* background-color: transparent; */
   padding-left: 40px;
   padding-right: 40px;
   
   /* backdrop-filter: blur(10px); */
   /* border: 3px solid  rebeccapurple; */
 }
body{
   /* border: 3px solid rgb(205, 0, 0) ; */
     width: 100%;
     height: auto;
     margin: 0;
}

 .logo{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   font-family: 'Modak', cursive;
   font-size: 50px;
   
 }
 .nav{
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: space-between;
   font-size: 28px;
   /* font-weight: bold; */
   
   

 }
 .nav a{
    display: inline-block;
  font-family: 'Modak', cursive;
  
  text-decoration: none;
  transition: transform 0.25s ease-in-out;
 }
 .nav a:hover{
  transform: scale(1.25);
  /* color:#c72026; */
  color:#a6171cd8;
}

.sticky{
  position: sticky;
  top: 0;
}
 .bodyPage{
    display: flex;
    flex-direction: column;
    
}


.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    
}
.fineIngredients{
    width: 100%;
    height: 750px;
    background-color: #F2C045;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
    gap: 10px;
    align-content: center;
    
}

.info{
    display: grid;
    grid-column: 1;
    grid-template-rows: 400px 1fr 300px;

}
.info h2{
    display: grid;
    grid-row: 1;
    align-items: end;
    font-size: 3rem;


}
.info p{
    display: grid;
    grid-row: 2;
    align-items: start;
    font-size: 1rem;
}
.infoImage{
  display: grid;
  place-items: center;
}
.infoImage img{
  width: 400px;
}
.heart_warming_service {
    width: 100%;
    min-height: 750px;
    background-color: #FFFBF4;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 50px;
    gap: 20px;
}
.heart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding-right: 20px;
}
.heart h2 {
    font-size: 6rem;
    color: #A6171B;
    line-height: 0.9;
    font-family: 'Modak', cursive;
    font-weight: 400;
    margin-bottom: 10px;
}
.heart h3 {
    font-size: 5rem;
    color: #A6171B;
    line-height: 0.9;
    font-family: 'Modak', cursive;
    font-weight: 400;
}

.coffeSack {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}
.coffeSack img {
    max-height: 650px;
    width: auto;
    height: auto;
    object-fit: contain;

}
.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    max-width: 500px;
}
.service h2 {
    font-size: 6rem;
    color: #A6171B;
    line-height: 0.9;
    font-family: 'Modak', cursive;
    font-weight: 400;
}
.service p {
    font-size: 1.1rem;
    line-height: 1.6;
    padding: 15px;
}

.brewingMaster{
    width: 100%;
    height: 750px;
    background-color: #A6171B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
    gap: 10px;
    align-content: center;
}
.info{
    display: grid;
    grid-column: 1;
    grid-template-rows: 400px 1fr 300px;

}
.info h2{
    display: grid;
    grid-row: 1;
    align-items: end;
    font-size: 3em;
}
.info p{
    display: grid;
    grid-row: 2;
    align-items: start;
}
.infoImage{
  display: grid;
  place-items: center;
}

.infoImage img{
  width: 400px;
  animation: rotate 5s ease alternate infinite;
  transition: transform 10s ease;
  animation-timeline: view(100%, 50%) ;
}
.infoImage :hover{
  transform: rotate(360deg);

}
@keyframes rotate{
  to{
    transform: rotate(360deg);
  }
}
.cover {
  font-size: 0;
  line-height: 0;
}

.cover img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
}

.cover #full{
  width: 100%;
  height: auto;
}
@media (max-width: 599px)  {
  .header {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    font-size: 35px;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .nav {
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav a {
    font-size: 18px;
  }
.fineIngredients, .brewingMaster{
  padding: 50px 80px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  
}
.info{
  display: flex;
  grid-row: 2;
  flex-direction: column;
  padding-top: 50px;
}
.info h2{
  font-size: 1.8rem;
 
  padding: 0;
}
.infoImage {
  padding: 0;
  
}
p{
  font-size: 2rem;
}
/* heart warming */
  .heart_warming_service {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .heart {
        align-items: center;
        text-align: center;
        padding-right: 0;
    }
    
    .service {
        align-items: center;
        text-align: center;
        padding-left: 0;
        max-width: 100%;
    }
    
    .heart h2,
    .service h2 {
        font-size: 3.5rem;
        text-align: center;
    }
    
    .heart h3 {
        font-size: 3rem;
    }
    
    .coffeSack img {
        max-height: 350px;
    }


}
@media (min-width: 600px){

.nav a{
  font-size: 1.7rem;
}

}


