/* @import "tailwindcss";
@theme {
    --color-yellow : #F2C045;
    --color-red : #A6171B;
    --color-white: #FFFBF4;

    --font-poppins: Poppins, sans-serif;
} */
 @import "tailwindcss";
 *{
   list-style: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 .header{
   display: flex;
   height: 100px;
   align-items: center;
   position: fixed;
   top: 0;
   z-index:1000;
      background-color:#F2C045 ;
   color:#A6171B;
   /* background-color: transparent; */
   padding-left: 40px;
   padding-right: 40px;
   /* backdrop-filter: blur(10px); */
 }
body{

     min-height: 100vh;
     margin: 0;
     padding-top: 0;
}

 .logo{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   font-family: 'Modak', cursive;
   font-size: 50px;
 }
 .nav{
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: space-between;
   font-size: 28px;
   /* font-weight: bold; */
   
   

 }
 .nav a{
    display: inline-block;
  font-family: 'Modak', cursive;
  text-decoration: none;
  transition: transform 0.25s ease-in-out;
 }
 .nav a:hover{
  transform: scale(1.25);
  color:#a6171cd8;
}
 .homeImage{
   width: 100%;
 }
.cover {
  font-size: 0;
  line-height: 0;
}

.cover img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: sticky;
  top: 0;
}

 .card img{
   width: 300px;
   height: 300x;
   border-radius: 20px;
 }
 .card h5{
   font-size: 20px;
   padding-top: 3px;
 }
.card{
   background-color:#A6171B ;
   width: 330px;
   height: 390px;
   border-radius: 30px;
   color: #F2C045;
   padding: 20px;
   display: grid;
   justify-content: center;

}
.container{
   width:fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: 30px;
}
.container .card:hover{
  transform: rotateY(360deg);
  
  transition: 1s;
}
button{
   font-size: 20px;
   width:340px ;
   height: 50px;
   border-radius: 50px;
   background-color: aliceblue;
   border: 5px solid #A6171B;
   color: #A6171B;
}
 .offer{
   height: 770px;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 400px 1fr 1fr;
   grid-template-rows: 200px 1fr;
   justify-items: center;
   gap: 10px;
   padding: 20px;
 }
.offer p{
   display: grid;
   grid-row: 1;
   grid-column: 3;
   font-family: 'Modak', cursive;
   font-size:100px;
   align-content: center;
   justify-content: center;
   color: #A6171B;
}

.drinks{
   display: grid;
   grid-row: 2;
   grid-column: 2;
   align-content: end;
}

.bakery{
   display: grid;
   grid-row: 2;
   grid-column: 3;
}

.merchandise{
   display: grid;
   grid-row: 2;
   grid-column: 4;
   justify-content: start;
   
}
.offer button{
  transition: transform 0.25s ease-in-out;
}
.offer button:hover{
  transform: scale(1.05);
  background-color: #A6171B;
  color: #FCFCFC;
}
.test {
  grid-row: 2;
  grid-column: 4;
  width: 100%;
  height: 100%;
  
}

.aboutUsHomepage{
  display: grid;
  width: 100%;
  height: 850px;
  background-color: #F2C045;
  grid-template-columns: 1fr 1fr;
}
.image{
  display: grid;
  grid-column: 1;
  justify-items: end;
  align-items: end;
  
}
.image img{
  width: 550px;
}
.aboutUsinfo{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 80px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}
.aboutUsinfo h2{
  display: grid;
  grid-row: 1;
  font-family: 'Modak', cursive;
  font-size:100px;
  color:#A6171B;
}
.aboutUsinfo p{
  display: grid;
  grid-row: 2;
  font-size: 20px;
}

.aboutUsinfo .btn{
  display: grid;
  grid-row: 3;
  justify-items: end;

  
}
.btn button{
  background-color: #A6171B;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 20px;
  transition: transform 0.25s ease-in-out;
}

 .btn button:hover{
  transform: scale(1.15);
 }
.buynow button{
  transition: transform 0.25s ease-in-out;
}
.buynow button:hover{
  transform: scale(1.05);
  background-color: #A6171B;
  color: #FCFCFC;
}
.buynow{
  width: fit-content;
  height: 800px;
  padding-top: 50px;
  background-color: #FCFCFC;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.msg{
  display: grid;
  grid-row: 1;

}
.msg img{
    width: 100%;
  height:max-content;
}
.model {
  display: grid;
  grid-row: 2;
  padding-left: 50px;
  padding-right: 50px;
}
.model img{
    width: 100%;
  height: max-content;
}
.buyNowbtn{
  display: grid;
  justify-content: center;
  padding-top: 30px;
}
.sticky{
  position: sticky;
  top: 0;
}
img {
  max-width: 100%;
  height: auto;
}

button {
  max-width: 100%;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 40px;
  }
  
  .nav {
    font-size: 24px;
  }
  
  .offer {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 150px repeat(3, auto);
    gap: 40px;
    padding: 40px 20px;
  }
  
  .offer p {
    grid-row: 1;
    grid-column: 1;
    font-size: 80px;
    text-align: center;
  }
  
  .drinks {
    grid-row: 2;
    grid-column: 1;
    align-content: center;
    justify-content: center;
  }
  
  .bakery {
    grid-row: 3;
    grid-column: 1;
    align-content: center;
    justify-content: center;
  }
  
  .merchandise {
    grid-row: 4;
    grid-column: 1;
    align-content: center;
    justify-content: center;
  }
  
  .aboutUsHomepage {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 40px 20px;
  }
  
  .image {
    grid-column: 1;
    grid-row: 1;
    justify-items: center;
    align-items: center;
    padding-bottom: 40px;
  }
  
  .image img {
    width: 100%;
    max-width: 550px;
  }
  
  .aboutUsinfo {
    grid-column: 1;
    grid-row: 2;
    padding: 0 40px 40px;
    gap: 40px;
  }
  
  .aboutUsinfo h2 {
    font-size: 80px;
    text-align: center;
  }
  
  .buynow {
    height: auto;
    padding: 40px 20px;
    grid-template-rows: auto auto auto;
    gap: 40px;
  }
  
  .model {
    padding-left: 20px;
    padding-right: 20px;
  }
  

}

@media (max-width: 768px) {
  .header {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: center;
  }
  
  .logo {
    font-size: 35px;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .nav {
    font-size: 20px;
    width: 100%;
    justify-content: space-around;
  }
  
  .nav a {
    font-size: 18px;
  }
  
  .offer p {
    font-size: 60px;
  }
  
  .card {
    width: 280px;
    height: 350px;
  }
  
  .card img {
    width: 240px;
    height: 240px;
  }
  
  button {
    width: 280px;
    font-size: 18px;
  }
  
  .aboutUsinfo h2 {
    font-size: 60px;
  }
  
  .aboutUsinfo p {
    font-size: 18px;
    text-align: center;
  }
  
  .aboutUsinfo .btn {
    justify-items: center;
  }
  
  .btn button {
    width: 200px;
  }
  
  .buynow {
    height: auto;
    min-height: 600px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 30px;
  }
  
  .nav {
    font-size: 16px;
  }
  
  .nav a {
    font-size: 16px;
  }
  
  .offer p {
    font-size: 50px;
  }
  
  .card {
    width: 250px;
    height: 320px;
  }
  
  .card img {
    width: 210px;
    height: 210px;
  }
  
  .card h5 {
    font-size: 18px;
  }
  
  button {
    width: 250px;
    font-size: 16px;
    height: 45px;
  }
  
  .aboutUsinfo {
    padding: 0 20px 40px;
  }
  
  .aboutUsinfo h2 {
    font-size: 50px;
  }
  
  .aboutUsinfo p {
    font-size: 16px;
  }
  
  .btn button {
    width: 180px;
    height: 45px;
    font-size: 18px;
  }
  
  .header {
    height: 70px;
  }
  

  @media (max-width: 400px) {
    .nav {
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
    
    .nav li {
      margin: 0 5px;
    }
  }
}

.cover img,
.msg img,
.model img {
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: contain;
}

button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}




