/* @import "tailwindcss";
@theme {
    --color-yellow : #F2C045;
    --color-red : #A6171B;
    --color-white: #FFFBF4;

    --font-poppins: Poppins, sans-serif;
} */
 @import "tailwindcss";
 *{
   list-style: none; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 .header{
   display: flex;
   height: 100px;
   align-items: center;
   position: sticky;
   top: 0;
   z-index:1000;
   /* background-color:#F2C045 ; */
   /* background-color: transparent; */
   padding-left: 40px;
   padding-right: 40px;
   /* backdrop-filter: blur(10px); */
 }
body{
     min-height: 100vh;
     margin: 0;
}

 .logo{
   display: flex;
   flex: 1;
   justify-content: flex-start;
   font-family: 'Modak', cursive;
   font-size: 50px;
   color: #000000;
 }
 .nav{
   display: flex;
   flex-direction: row;
   flex: 1;
   justify-content: space-between;
   font-size: 28px;
   /* font-weight: bold; */
   
   

 }
 .nav a{
    display: inline-block;
  font-family: 'Modak', cursive;
  color:#000000;
  text-decoration: none;
  transition: transform 0.25s ease-in-out;
 }
 .nav a:hover{
  transform: scale(1.25);
}
 .homeImage{
   width: 100%;
 }


 .card img{
   width: 300px;
   height: 300x;
   border-radius: 20px;
 }
 .card h5{
   font-size: 20px;
   padding-top: 3px;
 }
.card{
   background-color:#A6171B ;
   width: 330px;
   height: 390px;
   border-radius: 30px;
   color: #F2C045;
   padding: 20px;
   display: grid;
   justify-content: center;

}
.container{
   /* border: 2px solid hotpink; */
   width:fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   justify-items: center;
   gap: 30px;
}
button{
   font-size: 20px;
   width:340px ;
   height: 50px;
   border-radius: 50px;
   background-color: aliceblue;
   border: 5px solid #A6171B;
   color: #A6171B;
}
 .offer{
   height: 770px;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 400px 1fr 1fr;
   grid-template-rows: 200px 1fr;
   justify-items: center;
   gap: 10px;
   padding: 20px;
 }
.offer p{
   display: grid;
   grid-row: 1;
   grid-column: 3;
   font-family: 'Modak', cursive;
   font-size:100px;
   align-content: center;
   justify-content: center;
   color: #A6171B;
   /* background-color: red; */
}

.drinks{
   display: grid;
   grid-row: 2;
   grid-column: 2;
   align-content: end;
   /* background-color: aqua; */
}

.bakery{
   display: grid;
   grid-row: 2;
   grid-column: 3;
   /* background-color: aqua; */
}

.merchandise{
   display: grid;
   grid-row: 2;
   grid-column: 4;
   justify-content: start;
   /* background-color: aqua; */
   
}
.offer button{
  transition: transform 0.25s ease-in-out;
}
.offer button:hover{
  transform: scale(1.05);
  background-color: #A6171B;
  color: #FCFCFC;
}
.test {
  grid-row: 2;
  grid-column: 4;
  width: 100%;
  height: 100%;
  
}

.aboutUsHomepage{
  display: grid;
  width: 100%;
  height: 850px;
  background-color: #F2C045;
  grid-template-columns: 1fr 1fr;
}
.image{
  display: grid;
  grid-column: 1;
  /* background-color: aqua; */
  justify-items: end;
  align-items: end;
  
}
.image img{
  width: 550px;
}
.aboutUsinfo{
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 80px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}
.aboutUsinfo h2{
  display: grid;
  grid-row: 1;
  font-family: 'Modak', cursive;
  font-size:100px;
  color:#A6171B;
}
.aboutUsinfo p{
  display: grid;
  grid-row: 2;
  font-size: 20px;
  /* animation: typing 2s steps(30) infinite alternate-reverse; */
}
/* @keyframes typing {
  from{
    width: 0ch;
  }
} */
.aboutUsinfo .btn{
  display: grid;
  grid-row: 3;
  justify-items: end;

  
}
.btn button{
  background-color: #A6171B;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 20px;
  transition: transform 0.25s ease-in-out;
}

 .btn button:hover{
  transform: scale(1.15);
 }
.buynow button{
  transition: transform 0.25s ease-in-out;
}
.buynow button:hover{
  transform: scale(1.05);
  background-color: #A6171B;
  color: #FCFCFC;
}
.buynow{
  width: fit-content;
  height: 800px;
  padding-top: 50px;
  background-color: #FCFCFC;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.msg{
  display: grid;
  grid-row: 1;

}
.msg img{
    width: 100%;
  height:max-content;
}
.model {
  display: grid;
  grid-row: 2;
  padding-left: 50px;
  padding-right: 50px;
}
.model img{
    width: 100%;
  height: max-content;
}
.buyNowbtn{
  display: grid;
  justify-content: center;
  padding-top: 30px;
}
.sticky{
  position: sticky;
  top: 0;
}
img {
  max-width: 100%;
  height: auto;
}

button {
  max-width: 100%;
}

